<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>  
			<typeAlias 
			alias="ProductoIbatis" 
			type="model.Producto" />
			<typeAlias 
			alias="UsuarioIbatis" 
			type="model.Usuario" />
	</typeAliases> 
	<environments default="clase">
			<environment id="clase">
			<transactionManager type="JDBC" />
			<dataSource type="UNPOOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://localhost/tiendaonlinebd" />
				<property name="username" value="root" />
				<property name="password" value="admin" />
			</dataSource>
		</environment>
	</environments>

	<!-- Registro de los mappers -->
	<mappers>
		<mapper resource="mybatis/mapper/ProductoMapper.xml" />
	 	<mapper resource="mybatis/mapper/UsuarioMapper.xml"/>
	 		<mapper resource="mybatis/mapper/LoginMapper.xml"/>
	</mappers>

	
</configuration>
